[Unit]
 Description=Allow podman access and lingering for user
 Requires=local-fs.target
 After=local-fs.target podman.socket

[Service]
 ExecStart=/usr/bin/setfacl --modify u:1000:rw /run/podman/podman.sock
 ExecStartPost=loginctl enable-linger 1000

[Install]
 WantedBy=multi-user.target
