[Unit]
 Description=Allow podman access and lingering for user
 Requires=local-fs.target
 After=local-fs.target podman.socket

[Service]
 ExecStart=loginctl enable-linger 1000

[Install]
 WantedBy=multi-user.target
